/****** Chevrone cart styling ******/

.chart {
    display: flex;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.chart div {
    height: 6rem;
    padding: 1rem 1rem 1rem 6rem;
    position: relative;
    box-sizing: border-box;
}
.chart div:nth-child(1){
    width: 0;
    margin: 0;
    padding: 0;
}
.chart div:last-of-type {
    margin-right: 3rem;
}
.chart div::before, .chart div:not(:nth-child(1))::after {
    content: '';
    position: absolute;
    border: 3rem solid transparent;
    top: 0;
    right: -5.95rem;
}
.chart div:nth-child(1) {
    background: #fff;
}