.colorBox {
    display: inline-block;
    margin-right:0.5rem;
    border-radius: 3px;
}
.colorBox, input[type="checkbox"] {
    width: 4dvh;
    height: 4dvh;
    min-width: 22px;
    min-height: 22px;
    max-width: 36px;
    max-height: 36px;
    vertical-align: middle;
}
.paired {
    display: inline-block;
    margin: 4dvh 4dvh 0 4dvh;
}