body {
    background: url('assets/sky.jpg');
}
.container {
    max-width: 960px;
    height: calc(100dvh - 2.5rem);
    overflow: auto;
    box-sizing: border-box;
    margin: 2.5rem auto;
    padding: 2.5rem 4rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    font-family: sans-serif;
}
h1 {
    color: #444;
    font-size: 140%;
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.txt-c {
    text-align: center;
}
.red {
    color: rgb(206, 17, 38);
}